.uploadContainer {
  width: 100%;
  border: 1.6px solid #5A6B7A;
  border-radius: 0;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadedImageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  width: 100%;
}

.uploadedImage {
  max-width: calc(100% - 10vw);
  height: auto;
  object-fit: contain;
  border-radius: 0;
}

.uploadButton {
  width: 10vw;
  flex-shrink: 0;
}

.noImage {
  max-width: 100px;
  height: auto;
} 