.sidebar {
  width: 430px; 
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color:#ffffff
}

.title2 {
  text-align: center;
  padding: 1rem;
  padding-top: 6.5rem;
}

.addButton {
  align-self: center;
  padding: 0.5rem 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 30px;
  background-color: var(--secondary-color);
  /* background-color: #3A6D8C; */
  color: #ffffff;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  cursor: pointer;
}

.addButton:hover {
  background-color: #3A6D8C;
}

.sidebarItems {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.sidebarItemTextDesc {
  display: block;
  font-size: 0.8em;
}
.sidebarItem {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s, color 0.3s;
}

.sidebarItem:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sidebarItemText {
  font-weight: bold;
}



