.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex: 1;
  background-color: red;
}
.main {
  flex: 1;
  background-color: #f8f9fa; /* Cambia el color según tu diseño */
  padding: 20px; /* Ajusta el padding según sea necesario */
} 