.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--modal-background-color);
  padding: 0 70px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.ModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: -20px;
}

.modalTitle {
  margin:  3rem 0 3rem 0;
  font-size: 2rem;
  font-weight: semibold;
}

.closeButton {
  background: red;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.cancelButton {
  background-color: #f44336 !important; 
  color: white !important;
  border: none !important;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #d32f2f !important; 
}
