.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  color: black;
  background-color: #C8D8E9;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modalContent input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  background-color: #C8D8E9;
  color: black;

}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.buttons button[type="button"] {
  background-color: #f44336;
  color: white;
}
.formContent {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}