.sidebar {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden;
}

.title2 {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
  margin: 0;
}

.addButton {
  padding: .5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: .8rem;
  width: fit-content;
  align-self: center;
}

.addButton:hover {
  background-color: #3A6D8C;
  color: var(--secondary-color);
}

.sidebarItems {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.sidebarItemTextDesc {
  display: block;
  font-size: 0.8em;
}

.sidebarItem {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.sidebarItem:hover,
.sidebarItem.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sidebarItem.active .sidebarItemButton {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.sidebarItemText {
  font-weight: bold;
}

.sidebarButtons {
  display: flex;
  gap: .5rem;
}

.sidebarItemButton {
  display: flex;
  border: none;
  padding: 0.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}