.navbars {
  height: 100px;
  width: 100vw !important;
  background-color: var(--primary-color) !important;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.toolbarr {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Espacia los elementos */
  align-items: center;
}

.button {
  margin: 2rem 0;
  color: white !important;
  display: block;
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
}

.arrowButton {
  border: 2px solid white;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  color: white; /* Asegura que el texto y los íconos sean blancos */
}


.arrowButton svg {
  fill: white; /* Asegura que el ícono de la flecha sea blanco */
} 