
.contentTitleButtonBranches {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 4rem;
    position: relative; 
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; 
    color: #ffffff;
    font-size: 1.4rem
}

.addButtonBranch {
    position: absolute;
    right: 0;
    padding: .5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    margin-right: 1rem;
    font-size: .8rem
}

.addButtonBranch:hover {
    background-color: #3A6D8C;
    color: var(--secondary-color);
}
