.modalForm {
  max-width: 500px;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #555;
}

.formInput,
.formSelect {
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.errorMessage {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.submitButton {
  margin-top: 1rem;
}

.modalTitle {
  font-size: 1.2rem!important;
  font-weight: 500;
  width: 100%;
  text-align: center;
}