@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #001F3F;
  --secondary-color: #A9C4E0;
  --tercery-color: #023060;
  --background-color: rgb(196, 196, 196);
  --background-color-main-content: #6A9AB0;
  --boton-admin-color: #3A6D8C;
  --transparency: 90%;
  --modal-background-color: #C8D8E9;
}

*::-webkit-scrollbar {
  width: .8rem; /* Grosor de la barra de scroll */
  height: 2px; /* Grosor de la barra horizontal, si es necesario */

}
*::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo transparente */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); /* Color del thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--tercery-color)
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-column {
  flex-direction: column;
}